*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 196px auto 0;
    max-width: 866px;
    overflow: hidden;
}

main > * {
    grid-row: 1/2;
}

.login,
.signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40% 0;
    color: white;
    font-size: 30px;
    background: #4f82af;
}

.login > button , 
.signup> button{
    border: none;
    background-color: white;
}

.login{
    grid-column: 1 /2;
}
.signup{
    grid-column: 2 /3;
}
.login-form{
    grid-column: 1 /2;
    transform: translateX(-100%);
}
.signup-form{
    grid-column: 2 /3;
    transform: translateX(100%);
}
form{
    padding: 30px 20px;
    max-width: 500px;
    height: 520px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s;
}
form.active{
    transform: translateX(0);
}

.back-layer{
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr ;
    clip-path: inset(0 50% 0 0 );
    background-color: white;
    z-index: 5;
    transition: clip-path 0.3s ;
}

input{
    display: block;
    height: 40px;
    width: 300px;
    padding-left: 15px;
    margin: 30px 0;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    outline: none;
}

.login-label{
    text-align: center;
    font-size: 50px;
}
.input:focus{
    border-color: #4f82af;
}

label{
    font-weight: normal;
}

button{
    background: transparent;
    border: 2px solid ;
    color: #4f82af;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

form button:hover{
    background-color: #4f82af;
    color: white;
}

@media (max-width:420px){
    main{
        max-width: 400px;
    }
    .login, .signup {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 40% 0;
        color: white;
        font-size: 16px;
        background: #cf0d4c;
    }
    form {
        padding: 30px 20px;
        max-width: 430px;
        height: 427px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.5s;
    }
    button {
        background: transparent;
        border: 2px solid;
        color: #4f82af;
        width: 68px;
        height: 25px;
        text-transform: uppercase;
        font-size: 10px;
        cursor: pointer;
    }
    input {
        display: block;
        height: 40px;
        width: 159px;
        padding-left: 15px;
        margin: 30px 0;
        border: 2px solid #ccc;
        margin-bottom: 20px;
        margin-top: 5px;
        outline: none;
    }
}